<div id="content">
<%= render layout: 'form' do |f| %>
  <div class="container center_div">
    <div class="tab-pane" id="tab1">
      <h4> Step 1 </h4>
      <div class="row">
        <div class="col-lg-3">
          <%= f.input :first_name, placeholder: 'first name',class: "required email", required: true %>
        </div>
        <div class="col-lg-3">
          <%= f.input :last_name, placeholder: 'last name',class: "required email", required: true %>
        </div>
        <div class="col-lg-3">
          <%= f.input :child_name, placeholder: 'Child Name', input_html: { multiple: true,"data-role"=>"tagsinput",required: true }, class: "required name col-xs-6 col-lg-2" %>
          <span><b>Enter comma (,) add multiple childrens</b></span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <%= f.input :gender, as: :radio_buttons, :collection => [['Male', 'Male'], ['Female', 'Female']],class: "required", required: true %>
        </div>
      </div>
      <% if params[:plan_name] == "queen_city" %>
        <div class="row">
          <div class = "col-lg-3">
             <%= f.input :employee_qc, as: :radio_buttons,class: "required", required: true, label: "Are you an employee of Queen City Stem School" %>
          </div>
        </div>
      <%end%>
      <div class="row">
      <div class="col-lg-3">
              <%= f.input :age, required: true %>
      </div>
      </div>
      <div class="row">
       <div class="col-lg-3">
              <%= f.input :school_name, required: true %>
      </div>
      <div class="col-lg-3">
              <%= f.input :grade_year, required: true %>
      </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
                <%= f.input :home_address, required: true %>
        </div>
        <div class="col-lg-3">
                <%= f.input :home_city, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
                <%= f.input :home_state, required: true %>
        </div>
        <div class="col-lg-3">
                <%= f.input :home_zip_code, required: true %>
        </div>
      </div>
    </div>
  <div class="previous"%>
    <%= link_to "previous step", wizard_path(:new_registration),class: "btn btn-primary btn-sm" %>
    <%= f.submit "Continue",class: "next btn btn-primary btn-sm form-validation" %>
    <%= f.hidden_field "plan_name", :value => params[:plan_name].present? ? params[:plan_name] : current_user.plan_name %>
    <%= f.hidden_field "interval", :value => params[:interval].present? ? params[:interval] : current_user.interval%>
  </div>
  </div>
<% end %>
<div class="wave2"></div>
</div>

<script>
  $(document).ready(function(){
    if($('.bootstrap-tagsinput').size() > 1){
      $('.bootstrap-tagsinput').first().remove()
    }
  })
</script