<div class="tab-content">
	<%= simple_form_for @user, :url=>{:controller=>"football_steps",:action=>"update",:id=>@user.id}, method: "put" do |f| %>
    <div class="container change-container center_div">
    <div class="tab-pane" id="tab1">
      <h3>  <%if params[:plan_name] == "basketball" %> 
              Basketball Registration Form
            <%else%>
              Norsemen Football / Cheerleading Registration Form" %> 
            <%end%>
      </h3>
      <div class="row">
        <div class="col-lg-3 col-xs-5 ">
          <%= f.input :first_name, placeholder: 'first name',class: "required email col-xs-5 ", required: true %>
        </div>
        <div class="col-lg-3 col-xs-5 ">
          <%= f.input :last_name, placeholder: 'last name',class: "required email", required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-xs-5 ">
          <%= f.input :home_address, required: true %>
        </div>
        <div class="col-lg-3 col-xs-5 ">
          <%= f.input :home_city, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-xs-5 ">
          <%= f.input :home_state, required: true, :collection => us_states, prompt: "Please Select State" %>
        </div>
        <div class="col-lg-3 col-xs-5 ">
          <%= f.input :home_zip_code, required: true %>
        </div>
      </div>
      <div class="row">
  	    <div class="col-lg-3 col-xs-5 ">
  	      <%= f.input :phone, label: 'Phone' %>
  	    </div>
  	    <div class="col-lg-3 col-xs-5 ">
  	      <%= f.input :primary_phone, label: "Primary Phone", required: true %>
  	    </div>
	    </div>
  	  <div class="row">
  	    <div class="col-lg-3 col-xs-5 ">
  	      <%= f.input :dob, label: "Date of Birth" %>
  	    </div>
  	    <div class="col-lg-3 col-xs-5 ">
  	      <%= f.input :grand_level, label: "Grade Level as of Fall 2015"%>
  	    </div>
  	  </div>
  	  <div class="row">
  	    <div class="col-lg-3 col-xs-5 ">
  	      <%= f.input :event, as: :radio_buttons, :collection => [['Friend or Colleague', 'f_c'], ['Search Engine', 'search'],['Advertisement', 'advertisement'],['Other', 'other']],class: "required", required: true %>
  	      <%= f.input :event, label: "other" %>
        </div>
  	    <div class="col-lg-3 col-xs-5 ">
  	      <%= f.input :shirt_size, as: :radio_buttons, :collection => [['Youth XS', 'f_c'], ['Youth S', 'search'],['Youth M', 'advertisement'],['Youth L', 'other'],['Adult S', 'other'],['Adult M', 'other']],class: "required", required: true %>
  	    </div>
  	  </div>
	  <div class="row">
	    <div class="col-lg-3 col-xs-5 ">
	      <%= f.input :father_name, label: "Parents Name" %>
	    </div>
	    <div class="col-lg-3 col-xs-5 ">
	      <%= f.input :school_name, label: "Father's Cell Phone Number" %>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-lg-3 col-xs-5 ">
	      <%= f.input :company, label: 'Company'%>
	    </div>
	    <div class="col-lg-3 col-xs-5 ">
        <%if params[:plan_name] == "basketball" %> 
          <%= f.input :register_for, as: :check_boxes, collection: [['Basketball', 'basketball']],class: "required", required: true %>
        <%else%>
	       <%= f.input :register_for, as: :check_boxes, collection: [['Football', 'football'], ['Cheerleading', 'cheerleading']],class: "required", required: true %>
        <%end%>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-lg-3 col-xs-5 ">
        <% text = params[:plan_name] == "football" ? "Please list the names and grades of brothers and/or sisters also participating in football and/or cheerleading:" : "Please list the names and grades of brothers and/or sisters also participating in basketball:" %>
	      <%= f.input :other_arrangements, as: :text,label: text%>
	    </div>
      <%if params[:plan_name] == "football" %>
  	    <div class="col-lg-3 col-xs-5 ">
  	      <%= f.input :player_weight, label: "Football Player's Weight"%>
  	    </div>
      <%end%>
	  </div>
	  <div class="row">
      <div class="col-lg-3 col-xs-5 ">
        <%if params[:plan_name] == "basketball" %>
          <%= f.hidden_field :amount, label: "Fee",value: "75" %>
          Fee: <span>$75</span>
        <%else%>
          <%= f.hidden_field :amount, label: "Fee",value: "175" %>
          Fee: <span>$175</span>
        <%end%>
      </div>
    </div>

    
  </div>
  <%= f.submit "Continue", class: "btn btn-primary btn-info" %>
  <%= f.hidden_field "plan_name", :value => params[:plan_name] %>
  <%= f.hidden_field "interval", :value => params[:interval] %>
	<% end %>
</div>