<div class="container main-container headerOffset">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class="title-big text-center section-title-style2">
            <span>
               JOIN NORSEMEN FOOTBALL 2016 2017
            </span>
                    </h1>

                    <p class="lead text-center">
                        NCAAU TACKLE FOOTBALL is excited to introduce Jermaine Smith as the new Regional Director for the Charlotte-Mecklenburg Region.  Jermaine is the President of the Southern Football Conference and will be instrumental in overseeing the growth in the Charlotte-Meckelenburg Region.
                    </p>


                    <hr class="hr hr30">
                    <div class="row animated">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <%= image_tag "tfb.jpg", class: "img-responsive", alt: "img" %>
                            <h3 class="block-title-3">
                             AAU Youth Tackle Footbal 
                            </h3>

                            <p>
                               Jermaine has a wealth of experience working with youth and athletics. He is the Founder/CEO of TAPS Inc., a non-profit organization in Charlotte, NC serving at-risk youth. Jermaine spent seven years from 1996 - 2002 as a player in the NFL, CFL and Arena Football Leagues. He has also served as an Assistant Coach in the High School rankings and a Head Coach on the Middle School level. Jermaine's goal is to prepare athletes for life beyond the playing fields.
                            </p>


                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <%= image_tag "field.jpg", class: "img-responsive", alt: "img" %>

                            <h3 class="block-title-3">
                                Benifits Of Football
                            </h3>

                            <p>
                                Football requires a lot of practice time. It also requires a commitment to physical fitness, skill development, learning plays and game planning. Youth football will also help a child develop positive work ethic. Developing a strong work ethic will better enable children to achieve their goals later in life.
                            </p>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <%= image_tag "tackle.jpg", class: "img-responsive", alt: "img" %>

                            <h3 class="block-title-3">
                                Teaches Competitiveness
                            </h3>

                            <p>
                                Football is a competitive sport. Playing youth football will encourage competitiveness in other areas of life. Players will have to compete in practice for playing time. Players will compete against other teams on game day. To be successful in life you need to be competitive. Being non-competitive often leads to underachievement, therefore football is good training for later in life..
                            </p>

                        </div>


                    </div>
                    <!--/.row-->

                    <hr>
                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->
















    <div class="row transitionfx">

        <!-- left column -->
        <div class="col-lg-6 col-md-6 col-sm-6">
            <!-- product Image and Zoom -->
            <div class="main-image sp-wrap col-lg-12 no-padding">

                <a href="images/product_details/hi-res-croped/1.jpg"><img
                        src="images/product_details/low-res-white/1.jpg" class="img-responsive" alt="img"></a>
                <a href="images/product_details/hi-res-croped/2.jpg"><img
                        src="images/product_details/low-res-white/2.jpg" class="img-responsive" alt="img"></a>
                <a href="images/product_details/hi-res-croped/3.jpg"><img
                        src="images/product_details/low-res-white/3.jpg" class="img-responsive" alt="img"></a></div>
        </div>
        <!--/ left column end -->

        <!-- right column -->
        <div class="col-lg-6 col-md-6 col-sm-5">
            <h1 class="product-title"> Norsemen Football 2016-2017</h2>

                <h3 class="product-code">Please select the number of children you wish to enroll in Norsemen Football
                 </h3>

                
                <div class="product-price"><span class="price-sales"> $175 Join Today</span> 
                </div>
                
                

                
                <!-- productFilter -->

                <div class="cart-actions">
                    <div class="addto row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <%=form_tag current_user.present? ? football_steps_path : new_user_session_path,method: :get do %>
                                <%=hidden_field_tag 'plan_name',nil,value: "noresmen_football"%>
                                    <div class= "weekly">
                                        <%= label 'weekly', "One child", :value => "true"  %>
                                        <%= radio_button_tag 'interval', 1, true, class: 'monthly_radio'%></br>
                                        <%= label 'weekly', "Two Children", :value => "false" %>
                                        <%= radio_button_tag 'interval', 2, false, :checked => true, class: 'weekly_radio' %></br>
                                        <%= label 'weekly', "Three Children", :value => "false" %>
                                        <%=radio_button_tag 'interval',3,false%>
                                    </div>
                                    <%=submit_tag 'Buy NOW',class: " btn btn-lg"%>
                            <%end%>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <h3 class="incaps"><i class="fa fa fa-check-circle-o color-in"></i> Norsemen Football</h3>

                   

                    <h3 class="incaps"><i class="glyphicon glyphicon-lock"></i> Secure online payments</h3>
                </div>
                <!--/.cart-actions-->

                 <div class="clear"></div>
                <div class="product-tab w100 clearfix">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#details" data-toggle="tab">Information</a></li>
                        <li><a href="#size" data-toggle="tab">Steps</a></li>
                        <li><a href="#shipping" data-toggle="tab">Credit Card Information</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="details">We are excited that your child will be attending a TAPS Before School.  For the 2016-2017 school year, TAPS has an easy-to-use, secure online registration system that will allow you to complete many of the forms required for registering your child for various TAPS Services. .<br>
                            <br>
                        </div>
                        <div class="tab-pane" id="size"><br>
 
                             Only parents and legal guardians may register students.<br>
 You will need to complete the entire application at one time. (You cannot save and return later.)<br>
                            Completing the registration process will take approximately 5 minutes<br>
                             We also encourage you to register as soon as
possible because space in the program is limited.<br>

                            <br>
                        </div>
                        <div class="tab-pane" id="shipping">
                           we do not store your credit card number. We have partnered with a service provider that has been authorized to process credit card payments. Your credit card details are sent directly to this partner and never passes through our servers.
                         


                        </div>
                    </div>
                    <!-- /.tab content -->

                </div>
                <!--/.product-tab-->

                <div style="clear:both"></div>
                <div class="product-share clearfix">
                    <p> SHARE </p>

                    <div class="socialIcon"><a href="https://www.facebook.com/TAPS-Teaching-Athletes-Plans-for-Success-1568681750057651/?fref=ts"> <i class="fa fa-facebook"></i></a> <a href="https://twitter.com/RollNorsemen?lang=en"> <i
                            class="fa fa-twitter"></i></a> </div>
                </div>
                <!--/.product-share-->

        </div>
        <!--/ right column end -->
        <div class="gap"></div>
    </div>
    <!--/.row-->

<!-- /main-container -->