<div class="container main-container headerOffset">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class="title-big text-center section-title-style2">
            <span>
               Spring Break 2017
            </span>
                    </h1>

                    <p class="lead text-center">
                        We are also open on Spring Break. Scroll down to find registration information.During Spring Break we operate on a daily basis so you can attend as little or as much as you need!
                    </p>


                    <hr class="hr hr30">
                    <div class="row animated">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <%= image_tag "tfb.jpg", class: "img-responsive", alt: "img" %>

                            <h3 class="block-title-3">
                                Increases Academic Effort 
                            </h3>

                            <p>
                               TAPS After-school programs offer the opportunity for kids to not only work on their homework but to get help if they need it. Your child may feel more comfortable working on school assignments in a slightly less formal environment where they can ask questions at any time. 
                            </p>


                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <%= image_tag "goals.jpg", class: "img-responsive", alt: "img" %>
                            <h3 class="block-title-3">
                               Setting Goals
                            </h3>

                            <p>
                                After-school activities present opportunities for your children to develop their goal-setting skills. Most extracurricular activities involve reaching or achieving a goal, whether it be the lead actor in the school play, winning the state championship or coming in first place in the science fair. As a result, these activities help encourage students to work toward achieving those goals, while having fun at the same time.
                            </p>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
                            <%= image_tag "esteem.jpg", class: "img-responsive", alt: "img" %>
                            <h3 class="block-title-3">
                                 Building Self-Esteem
                            </h3>

                            <p>
                               Mastering new skills can help build confidence in children. By participating in after-school activities, they can build their self-esteem in a relaxed setting as their activities provide the opportunity to be successful in something that they are passionate about
                            </p>

                        </div>


                    </div>
                    <!--/.row-->

                    <hr>
                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->
















    <div class="row transitionfx">

        <!-- left column -->
        <div class="col-lg-6 col-md-6 col-sm-6">
            <!-- product Image and Zoom -->
            <div class="main-image sp-wrap col-lg-12 no-padding">

                <a href="assets/product_details/hi-res-croped/1.jpg"><img
                        src="assets/product_details/low-res-white/1.jpg" class="img-responsive" alt="img"></a>
                <a href="assets/product_details/hi-res-croped/2.jpg"><img
                        src="assets/product_details/low-res-white/2.jpg" class="img-responsive" alt="img"></a>
                <a href="assets/product_details/hi-res-croped/3.jpg"><img
                        src="assets/product_details/low-res-white/3.jpg" class="img-responsive" alt="img"></a></div>
        </div>
        <!--/ left column end -->

        <!-- right column -->
        <div class="col-lg-6 col-md-6 col-sm-5">
            <h1 class="product-title"> Spring Break 2017</h2>

                <h3 class="product-code">Please select the number of children you wish to enroll 
                 </h3>

                
                <div class="product-price"><span class="price-sales"> $25 per day </span> 
                </div>
                <div class="product-price"><span class="price-sales"> $85 for all days </span> 
                </div>
                
                

                
                <!-- productFilter -->

                <div class="cart-actions">
                    <div class="addto row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <%=form_tag current_user.present? ? school_closing_steps_path : new_user_session_path,method: :get do %>
                                <%=hidden_field_tag 'plan_name',nil,value: "christmas_break"%>
                                <div class="field">
                                 <%= label 'payment_plan', "daily", :value => "true"  %>
                                 <%= radio_button_tag 'payment_plan', "daily", true, class: 'monthly_radio'%>
                                 <%= label 'payment_plan', "all_days", :value => "false" %>
                                 <%= radio_button_tag 'payment_plan', "all_days", false, :checked => true, class: 'weekly_radio' %>
                                </div>
                                    <div class= "weekly">
                                        <%= label 'weekly', "One child", :value => "true"  %>
                                        <%= radio_button_tag 'summer_plan', 1, true, class: 'monthly_radio'%></br>
                                        <%= label 'weekly', "Two Children", :value => "false" %>
                                        <%= radio_button_tag 'summer_plan', 2, false, :checked => true, class: 'weekly_radio' %></br>
                                        <%= label 'weekly', "Three Children", :value => "false" %>
                                        <%=radio_button_tag 'summer_plan',3,false%>
                                    </div>

                                    
                                    <%=submit_tag 'Buy NOW',class: " btn btn lg"%>
                            <%end%>
                        </div>
                        


                    </div>
                    <div style="clear:both"></div>
                    <h3 class="incaps"><i class="fa fa fa-check-circle-o color-in"></i> Spring Break</h3>

                   

                    <h3 class="incaps"><i class="glyphicon glyphicon-lock"></i> Secure online payments</h3>
                </div>
                <!--/.cart-actions-->

               
                               <div class="clear"></div>
                <div class="product-tab w100 clearfix">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#details" data-toggle="tab">Information</a></li>
                        <li><a href="#size" data-toggle="tab">Steps</a></li>
                        <li><a href="#shipping" data-toggle="tab">Credit Card Information</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="details">We are excited that your child will be attending a TAPS Before School.  For the 2016-2017 school year, TAPS has an easy-to-use, secure online registration system that will allow you to complete many of the forms required for registering your child for various TAPS Services. .<br>
                            <br>
                        </div>
                        <div class="tab-pane" id="size"><br>
 
                             Only parents and legal guardians may register students.<br>
 You will need to complete the entire application at one time. (You cannot save and return later.)<br>
                            Completing the registration process will take approximately 5 minutes<br>
                             We also encourage you to register as soon as
possible because space in the program is limited.<br>

                            <br>
                        </div>
                        <div class="tab-pane" id="shipping">
                           we do not store your credit card number. We have partnered with a service provider that has been authorized to process credit card payments. Your credit card details are sent directly to this partner and never passes through our servers.
                         


                        </div>
                    </div>
                    <!-- /.tab content -->

                </div>
                <!--/.product-tab-->

                <div style="clear:both"></div>
                <div class="product-share clearfix">
                    <p> SHARE </p>

                    <div class="socialIcon"><a href="https://www.facebook.com/TAPS-Teaching-Athletes-Plans-for-Success-1568681750057651/?fref=ts"> <i class="fa fa-facebook"></i></a> <a href="https://twitter.com/RollNorsemen?lang=en"> <i
                            class="fa fa-twitter"></i></a> </div>
                </div>
                <!--/.product-share-->

        </div>
        <!--/ right column end -->
        <div class="gap"></div>
    </div>
    <!--/.row-->

<!-- /main-container -->