trusted<div class="banner">
    <div class="full-container">
        <div class="slider-content">
            <ul id="pager" class="container">
            </ul>
            <div class="slider slider-v2">
                <div class="slider-item slider-item-img1 "
                     data-cycle-pager-template="<a href=#> TAPS AFTERSCHOOL PROGRAM </a>">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-5 col-md-5 col-sm-5 pull-right sliderText dark alpha80 hidden-xs">
                                <div class="inner">
                                    <h1>TAPS AFTERSCHOOL PROGRAM</h1>

                                    <p class="hidden-xs"> kids engage in physical, learning and imaginative activities that encourage them to explore who they are and what they can achieve. In addition to supplementing what they have learned in school,  </p>
                                     
                                     <%=link_to 'After School',tap_programs_path(query: "taps_afterschool"),class: "btn btn-default btn-primary btn-lg" %></div>

 
                               


                            </div>
                        </div>
                    </div>
                    <img alt="img" src="assets/slider/slider4.jpg" class="img-responsive parallaximg sliderImg"></div>
                <!--/.slider-item-->

                <div class="slider-item slider-item-img2  parallax"
                     data-cycle-pager-template="<a href=#> NORSEMEN FOOTBALL </a>">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-5 col-md-5 col-sm-5 pull-left sliderText dark alpha80 hidden-xs">
                                <div class="inner">
                                   trusted <h1>NORSEMEN FOOTBALL</h1>

                                    <p class="hidden-xs"> Ages 5-12 Pratice location Newell Park, Newell Baptist Church Rd. Mon & Weds. 6:45pm-8:30pm
                                    Saturdays 9am-12pm </p>
                                    <%=link_to 'Norsemen Football',tap_programs_path(query: "noresmen_football"),class: "btn btn-default btn-primary" %></div>
                            </div>
                        </div>
                    </div>
                    <img alt="img" src="assets/slider/slider3.JPG" class="img-responsive parallaximg sliderImg"></div>
                <!--/.slider-item-->

                <div class="slider-item slider-item-img3  parallax"
                     data-cycle-pager-template="<a href=#> TAPS FOUNDATION </a>">
                    <div class="sliderInfo">
                        <div class="container">
                            <div class="col-lg-4 col-md-4 col-sm-5 pull-right sliderText dark alpha80 transformRight hidden-xs">
                                <div class="inner">
                                    <h1>TAPS FOUNDATION</h1>

                                    <p class="hidden-xs"> A nonprofit organization supporting at-risk urban youth. Our goal is the help our youth recognize their full potential on and off the playing courts and fields. We strive to assist our youth in identifying their strengths and develop a plan to execute their dreams. </p>
                                    <a href="http://www.fundtaps.org/" class="slide-link">DONATE TODAY<span
                                            class="arrowUnicode">►</span></a></div>
                            </div>
                        </div>
                    </div>
                    <img alt="img" src="assets/slider/slider2.JPG" class="img-responsive parallaximg sliderImg"></div>
                <!--/.slider-item-->
            </div>
            <!--/.slider-v2-->
        </div>
        <!--/.slider-content-->
    </div>
    <!--/.full-container-->
</div>
<!--/.banner style2-->
<div class="container main-container">

    <!-- Main component call to action -->

    <div class="row featuredPostContainer globalPadding style2">
        <h3 class="section-title style2 text-center"><span>TAPS AFTER SCHOOL PROGRAMS</span></h3>

        <div id="productslider" class="owl-carousel owl-theme">
            <div class="item">
                <div class="product">
                    <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                       data-placement="left">
                        <i class="glyphicon glyphicon-heart"></i>
                    </a>

                    <div class="image">
                        <!-- <div class="quickview">
                            <a data-toggle="modal" class="btn btn-xs btn-quickview" href="ajax/product.html"
                               data-target="#productSetailsModalAjax">Quick View </a>
                        </div> -->
                       <%= link_to "<img src='assets/product/34.jpg' alt='img' class='img-responsive'>".html_safe, tap_programs_path(query: "taps_afterschool") %>

                        <div class="promotion"><span class="new-product"> Join Today</span> </div>
                    </div>
                    <div class="description">
                        <h4>After School Registration</h4>

                        <p>100% of our parents are satisfied with our afterschool program. </p>
                        <span class="size">Fun/Exciting /Educational </span></div>
                    <div class="price"><span>$55 per Week</span></div>
                    
                    <div class="action-control"><%=link_to "<span class='add2cart'><i class='glyphicon glyphicon-shopping-cart'> </i> Register </span>".html_safe , tap_programs_path(query: "taps_afterschool"),class: "btn btn-primary btn-lg" %></div>


                   

                     





                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                       data-placement="left">
                        <i class="glyphicon glyphicon-heart"></i>
                    </a>

                    <div class="image">
                        <!-- <div class="quickview">
                            <a data-toggle="modal" class="btn btn-xs btn-quickview" href="ajax/product.html"
                               data-target="#productSetailsModalAjax">Quick View </a>
                        </div> -->
                        <%= link_to "<img src='assets/product/30.jpg' alt='img' class='img-responsive'>".html_safe, tap_programs_path(query: "before_school_fater_school") %>

                        <div class="promotion"><span class="discount">Join Today</span></div>
                    </div>
                    <div class="description">
                        <h4>Before School & After School Registration</h4>

                        <p>Mornings and afternoons await your child here. </p>
                        <span class="size">Self-awareness/integrity/purpose </span></div>
                    <div class="price"><span>$70 per week</span></div>
                  <div class="action-control"><%=link_to "<span class='add2cart'><i class='glyphicon glyphicon-shopping-cart'> </i> Register </span>".html_safe , tap_programs_path(query: "before_school_fater_school"),class: "btn btn-primary btn-lg" %></div>



                            
                     


                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                       data-placement="left">
                        <i class="glyphicon glyphicon-heart"></i>
                    </a>

                  <div class="image"> 
                        
                        <div class="image">
                        <%= link_to "<img src='assets/product/36.jpg' alt='img'
                    class='img-responsive'>".html_safe, tap_programs_path(query: "before_school_only") %>
                    </div>

                        <div class="promotion"><span class="new-product"> NEW</span></div>
                     </div> 
                    <div class="description">
                        <h4>BEFORE SCHOOL ONLY REGISTRATION</h4>

                        <p>A great start to every school day. </p>
                        <span class="size">Developing healthy habits for life</span></div>
                    <div class="price"><span>$20 per week</span></div>
                    <div class="action-control"><%=link_to "<span class='add2cart'><i class='glyphicon glyphicon-shopping-cart'> </i> Register </span>".html_safe , tap_programs_path(query: "before_school_only"),class: "btn btn-primary btn-lg" %></div>
                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                       data-placement="left">
                        <i class="glyphicon glyphicon-heart"></i>
                    </a>

                    <div class="image">
                        <%= link_to "<img src='assets/product/9.jpg' alt='img'
                    class='img-responsive'>".html_safe, tap_programs_path(query: "school_closing") %>
                    </div>
                    <div class="description">
                        <h4>SCHOOL CLOSING DAYS</h4>

                        <p> Teacher Workdays </p>
                       <span class="size">Charlotte-Mecklenburg Schools 2016-2017</span></div>
                    <div class="price"><span>$25 per day</span></div>
                    <div class="action-control"><%=link_to "<span class='add2cart'><i class='glyphicon glyphicon-shopping-cart'> </i> Register </span>".html_safe , tap_programs_path(query: "school_closing"),class: "btn btn-primary btn-lg" %></div>




                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                       data-placement="left">
                        <i class="glyphicon glyphicon-heart"></i>
                    </a>

                    <div class="image">
                        <%= link_to "<img src='assets/product/12.jpg' alt='img'
                    class='img-responsive'>".html_safe, tap_programs_path(query: "christmas_break") %>
                    </div>
                    <div class="description">
                        <h4>Christmas Break</h4>

                        <p>Join us this Christmas Break. </p>
                        <span class="size">Daily Drop-of Options </span></div>
                    <div class="price"><span>$25 per day</span></div>
                    <div class="action-control"><%=link_to "<span class='add2cart'><i class='glyphicon glyphicon-shopping-cart'> </i> Register </span>".html_safe , tap_programs_path(query: "christmas_break"),class: "btn btn-primary btn-lg" %></div>



                </div>
            </div>
            <div class="item">
                <div class="product">
                    <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                       data-placement="left">
                        <i class="glyphicon glyphicon-heart"></i>
                    </a>

                    <div class="image">
                        <%= link_to "<img src='assets/product/13.jpg' alt='img'
                    class='img-responsive'>".html_safe, tap_programs_path(query: "spring_break") %>
                    </div>
                    <div class="description">
                        <h4><a href="product-details.html">Spring Break Days.</a></h4>

                        <p>We are open during spring break. </p>
                        <span class="size">Daily drop-off available</span></div>
                    <div class="price"><span>$25 per day</span></div>
                    <div class="action-control"><%=link_to "<span class='add2cart'><i class='glyphicon glyphicon-shopping-cart'> </i> Register </span>".html_safe , tap_programs_path(query: "spring_break"),class: "btn btn-primary btn-lg" %></div>
                    
                </div>
            </div>
            
            
            

        </div>
        <!--/.productslider-->

    </div>
    <!--/.featuredPostContainer-->
</div>
<!-- /main container -->

<div class="parallax-section parallax-image-1">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="parallax-content clearfix">
                    <h1 class="parallaxPrce"> We Are </h1>

                    <h2 class="uppercase">TAPS Teaching Athletes Plans for Success Inc. (T.A.P.S)!</h2>

                    <h2> Non-Profit Organization · Charlotte, North Carolina. </h2>

                    <div style="clear:both"></div>
                    <a href="http://www.fundtaps.org/" class="btn btn-discover "> <i class="fa fa-shopping-cart"></i> Donate Now </a></div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!--/.parallax-image-1-->

<div class="container main-container">

    <!-- Main component call to action -->

    <div class="morePost row featuredPostContainer style2 globalPaddingTop ">
        <h3 class="section-title style2 text-center"><span>Norsemen Athletics</span></h3>

        <div class="container">
            <div class="row xsResponse">
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                           data-placement="left">
                            <i class="glyphicon glyphicon-heart"></i>
                        </a>

                        <div class="image">
                            
                     <%= link_to "<img src='assets/product/fb.jpg' alt='img'
                class='img-responsive'>".html_safe, tap_programs_path(query: "noresmen_football") %>

                            <div class="promotion"><span class="new-product"> NEW</span> <span
                                    class="discount">$175</span></div>
                        </div>
                        <div class="description">
                            <h4>Norsemen Football</h4>

                            <p> Choose Norseman Footbal & learn football’s timeless qualities of leadership, responsibility, perseverance and teamwork.. </p>
                            <span class="size">XL / XXL / S </span></div>
                        <div class="price"><span>$175</span></div>
                        <div class="action-control"><%=link_to "<span class='add2cart'><i class='glyphicon glyphicon-shopping-cart'> </i> Register </span>".html_safe , tap_programs_path(query: "noresmen_football"),class: "btn btn-primary btn-lg" %></div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                           data-placement="left">
                            <i class="glyphicon glyphicon-heart"></i>
                        </a>

                        <div class="image">
                            
                            <%= link_to "<img src='assets/product/cheer.png' alt='img'
                class='img-responsive'>".html_safe, tap_programs_path(query: "noresmen_cheer") %>

                            <div class="promotion"><span class="discount">$175</span></div>
                        </div>
                        <div class="description">
                            <h4>Norsemen Cheer</h4>

                            <p>athleticism, strength, flexibility. </p>
                            <span class="size">XL / XXL / S </span></div>
                        <div class="price"><span>$175</span></div>
                        <div class="action-control"><%=link_to "<span class='add2cart'><i class='glyphicon glyphicon-shopping-cart'> </i> Register </span>".html_safe , tap_programs_path(query: "noresmen_cheer"),class: "btn btn-primary btn-lg" %></div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                           data-placement="left">
                            <i class="glyphicon glyphicon-heart"></i>
                        </a>

                        <div class="image">
                            
                            <%= link_to "<img src='assets/product/bb.jpg' alt='img'
                class='img-responsive'>".html_safe, tap_programs_path(query: "noresmen_basketball") %>


                            <div class="promotion"><span class="new-product"> NEW</span></div>
                        </div>
                        <div class="description">
                            <h4>Norsemen Basketball</h4>

                            <p>Norsemen Basketball is a high-intensity, high-agility activity that teaches children coordination, concentration, and cooperation.. </p>
                            <span class="size">XL / XXL / S </span></div>
                        <div class="price"><span>$100</span></div>
                        <div class="action-control"><%=link_to "<span class='add2cart'><i class='glyphicon glyphicon-shopping-cart'> </i> Register </span>".html_safe , tap_programs_path(query: "noresmen_basketball"),class: "btn btn-primary btn-lg" %></div>
                    </div>
                </div>
                <!--/.item-->
                <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="product">
                        <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist"
                           data-placement="left">
                            <i class="glyphicon glyphicon-heart"></i>
                        </a>

                        <div class="image">
                            
                          <img src="assets/product/baseball.jpg" alt="img"
                                                                class="img-responsive"></div>
                        <div class="description">
                            <h4>Norsemen Baseball</h4>

                            <p>coming soon </p>
                            <span class="size">XL / XXL / S </span></div>
                        <div class="price"><span>TBD</span></div>
                        <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                                class="glyphicon glyphicon-shopping-cart"> </i> TBD </span> </a></div>
                    </div>
                </div>
                <!--/.item-->
                
                <!--/.item-->
                
                <!--/.item-->
                
                <!--/.item-->
                
                <!--/.item-->
               
                <!--/.item-->
                
                <!--/.item-->
                
                <!--/.item-->
                
                <!--/.item-->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="load-more-block text-center">
                    <a class="btn btn-thin" href="#">
                        <i class="fa fa-plus-sign">+</i>More Programs Coming Soon</a>
                </div>
            </div>


        </div>
        <!--/.container-->
    </div>
    <!--/.featuredPostContainer-->

    <hr class="no-margin-top">
    <div class="width100 section-block ">
        <div class="row featureImg">
            <div class="col-md-3 col-sm-3 col-xs-6"><img src="assets/site/new-collection-1.jpg"
                                                                                 class="img-responsive" alt="img">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6"><img src="assets/site/new-collection-2.jpg"
                                                                                 class="img-responsive" alt="img">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6"><img src="assets/site/new-collection-3.jpg"
                                                                                 class="img-responsive" alt="img">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6"><img src="assets/site/new-collection-4.jpg"
                                                                                 class="img-responsive" alt="img">
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.section-block-->

    

    <!--/.section-block-->

</div>
<!--main-container-->
<!--/.parallax-section-->
<!-- Product Details Modal  -->
<!-- Modal -->
<div class="modal fade" id="productSetailsModalAjax" tabindex="-1" role="dialog"
     aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- End Modal -->