<script>
$(document).ready(function() {
  //
  //  carouFredSel team
  $('#team .carousel.main ul').carouFredSel({
    auto: {
      timeoutDuration: 8000
    },
    responsive: true,
    prev: '.team_prev',
    next: '.team_next',
    width: '100%',
    scroll: {
      // fx : "crossfade",
      items: 1,
      duration: 1000,
      easing: "easeOutExpo"
    },
    items: {
          width: '350',
      height: 'variable', //  optionally resize item-height
      visible: {
        min: 1,
        max: 4
      }
    },
    mousewheel: false,
    swipe: {
      onMouse: true,
      onTouch: true
      }
  });
  $(window).bind("resize",updateSizes_vat).bind("load",updateSizes_vat);
  function updateSizes_vat(){
    $('#team .carousel.main ul').trigger("updateSizes");
  }
  updateSizes_vat();
}); //
$(window).load(function() {
  //
  /////// flexslider
  $('#flexslider').flexslider({
    animation: "fade",
    slideshow: true,
    slideshowSpeed: 7000,
    animationDuration: 600,
    pauseOnAction: true,
    prevText: "",
    nextText: "",
    controlNav: true,
    directionNav: true
  });
}); //
</script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<% flash.each do |name, msg| %>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong><%=msg%></strong>
      </div>
    <% end %>

<div id="main">

<div class="top_wrapper">
  <div class="top_bg">
    <img src="/assets/sky1.jpg" alt="" class="sky1">
    <div class="grass1"></div>
    <div class="sun1"></div>
    <div class="green1"></div>
  </div>
  <div class="top_content">
    <div class="container">
      <header>
        <div class="logo_wrapper">
          <a href="#" class="logo">
            <img src="/assets/logo.png" alt="" class="img-responsive">
          </a>
        </div>
      </header>
      <%= render partial: '/layouts/tap_nav_header' %>
      <div id="slider_wrapper">
        <div id="slider">
          <div id="flexslider">
            <ul class="slides clearfix">
              <li>
                <img src="/assets/slide01.jpg" alt="">
                <div class="flex-caption">
                  <div class="flex-caption_inner container">
                  </div>
                </div>
              </li>
              <li>
                <img src="/assets/slide02.jpg" alt="">
                <div class="flex-caption">
                  <div class="flex-caption_inner container">
                  </div>
                </div>
              </li>
              <li>
                <img src="/assets/slide03.jpg" alt="">
                <div class="flex-caption">
                  <div class="flex-caption_inner container">
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="snail1_wrapper">
        <div class="tree1 animated" data-animation="fadeIn" data-animation-delay="200"><img src="/assets/tree1.png" alt="" class="img-responsive"></div>
        <div class="snail1 animated" data-animation="bounceInLeft" data-animation-delay="300"><img src="/assets/snail1.png" alt="" class="img-responsive"></div>
      </div>

      <div class="slogan1 animated" data-animation="fadeIn" data-animation-delay="400">"WE Care About Your Child's Future"</div>

      <div class="slogan2 animated" data-animation="fadeIn" data-animation-delay="500">T.A.P.S (Teaching Athletes Plans for Success) Inc. is a 501(c)(3) non-profit organization providing a comprehensive array of programs and support services addressing the socio-emotional challenges of youth ages 5-17.  The mission of TAPS is to prepare youth for education, self-enhancement, corporate America, and tomorrow’s challenges, while developing male and female athletic talent.</div>

      <div id="team_wrapper">
        <div id="team_inner">
          <div class="">
            <div id="team">
              <a class="team_prev" href="#"></a>
              <a class="team_next" href="#"></a>
              <div class="carousel-box">
                <div class="inner">
                  <div class="carousel main">
                    <ul>
                   
                      <li>
                        <div class="team">
                          <div class="team_inner">
                            <%=link_to tap_programs_path(query: "summer_camp") do%>
                              <figure><img src="/assets/banner2.jpg" alt="" class="img-responsive"><em></em></figure>
                              <div class="caption">
                                <div class="txt1">Summer Camp</div>
                                <div class="txt2">Our Summer Enrichment offers STEM, Performing Arts, Math, Reading, Recreation and Sports Specific Training.</div>
                                <div class="txt3">more</div>
                              </div>
                            <%end%>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="team">
                          <div class="team_inner">
                            <%=link_to tap_programs_path(query: "noresman_football") do%>
                              <figure><img src="/assets/banner3.jpg" alt="" class="img-responsive"><em></em></figure>
                              <div class="caption">
                                <div class="txt1">Norsemen</div>
                                <div class="txt2">Golden Norsemen Athletics offers Football, Basketball, Baseball and Cheer to youth ages 5 - 14. </div>
                                <div class="txt3">more</div>
                              </div>
                            <%end%>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="team">
                          <div class="team_inner">
                            <%=link_to tap_programs_path(query: "queen_city") do%>
                              <figure><img src="/assets/banner1.jpg" alt="" class="img-responsive"><em></em></figure>
                              <div class="caption">
                                <div class="txt1">TAPS After School</div>
                                <div class="txt2">TAPS provides before and after-school for the Queen City Stem Academy at there location Mon - Fri. </div>
                                <div class="txt3">more</div>
                              </div>
                            <%end%>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="team">
                          <div class="team_inner">
                            <%=link_to tap_programs_path(query: "summer_camp") do%>
                              <figure><img src="/assets/banner2.jpg" alt="" class="img-responsive"><em></em></figure>
                              <div class="caption">
                                <div class="txt1">Summer Camp</div>
                                <div class="txt2">Our Summer Enrichment offers STEM, Performing Arts, Math, Reading, Recreation and Sports Specific Training.</div>
                                <div class="txt3">more</div>
                              </div>
                            <%end%>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="team">
                          <div class="team_inner">
                            <%=link_to tap_programs_path(query: "noresman_football") do%>
                              <figure><img src="/assets/banner3.jpg" alt="" class="img-responsive"><em></em></figure>
                              <div class="caption">
                                <div class="txt1">Norsemen</div>
                                <div class="txt2">Golden Norsemen Athletics offers Football, Basketball, Baseball and Cheer to youth ages 5 - 14. </div>
                                <div class="txt3">more</div>
                              </div>
                            <%end%>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="team">
                          <div class="team_inner">
                            <%=link_to tap_programs_path(query: "queen_city") do%>
                              <figure><img src="/assets/banner4.jpg" alt="" class="img-responsive"><em></em></figure>
                              <div class="caption">
                                <div class="txt1">Queen City</div>
                                <div class="txt2">TAPS provides before and after-school for the Queen City Stem Academy at there location Mon - Fri. </div>
                                <div class="txt3">more</div>
                              </div>
                            <%end%>
                          </div>
                        </div>
                      </li>




                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
  <div class="wave1"></div>
</div>

<div class="splash_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6 animated" data-animation="fadeInRight" data-animation-delay="0">

        <div class="thumb1">
          <div class="thumbnail clearfix">
            <figure class="">
              <img src="/assets/home01.jpg" alt="" class="img-responsive">
            </figure>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-sm-pull-6 animated" data-animation="fadeInLeft" data-animation-delay="300">

        <h1>Innovative methods of teaching</h1>

        <p>
          <strong class="text-uppercase">
            At T.A.P.S, we believe learning should mean fun. Our programs are designed for children of various grades. We believe that our enrichment programs is an excellent way to improve children's academic performance and social skills.
          </strong>
        </p>

        <p>
          We strive to assist our youth in identifying their strengths and develop a plan to execute their dreams.
        </p>

        <a href="#" class="btn-default btn1">contact us today</a>





      </div>
    </div>
  </div>
</div>

<div id="parallax1" class="parallax">
  <div class="wave2"></div>
  <div class="bg1 parallax-bg"></div>
  <div class="parallax-content">
    <div class="container">
      <div class="txt1 animated" data-animation="zoomIn" data-animation-delay="0">grow with us</div>
      <div class="txt2 animated" data-animation="zoomIn" data-animation-delay="200">join us today</div>
    </div>
  </div>
</div>


    <%= render partial: "/layouts/footer_content" %>

</div>