<!-- Navigation start -->
  <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation">

    <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%=link_to 'T.A.P.S',root_url,class: "navbar-brand" %>
            </div>

            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">QUEEN CITY STEM SCHOOL</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown">
                        <%= link_to('BEFORE SCHOOL', qc_befor_school_path, :method => :get) %>
                        <%= link_to('AFTER SCHOOL', qc_after_school_path, :method => :get) %>
                        <%= link_to('BEFORE SCHOOL & AFTER SCHOOL', qc_before_after_school_path, :method => :get) %>
                      </li>
                    </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">T.A.P.S Afterschool</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown">
                        <%= link_to('AFTER SCHOOL', taps_after_school_path, :method => :get) %>
                      </li>
                    </ul>
                  </li>


                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Stripe Info</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown">
                        <%= link_to('Stripe Info', st_payment_path, :method => :get) %>
                      </li>
                    </ul>
                  </li>


                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown">
                        <% if user_signed_in? %>
                          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                          <%= link_to 'Profile', profiles_path %>
                        <% else %>
                          <%= link_to('Login', new_user_session_path)  %>
                        <% end %>
                      </li>
                    </ul>
                  </li>
               
                </ul>
              </div>
            </div>



  </nav>
  <!-- Navigation end -->