
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>T.A.P.S</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%#= javascript_include_tag 'gmaps.js' %>
  <%= csrf_meta_tags %>
</head>
<body class = "front">
  <div id = "main">
    <%= render :partial => '/layouts/header_taps' %>
		<% flash.each do |name, msg| %>
		  <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong><%=msg%></strong>
      </div>
		<% end %>
    <%= yield %>
      <%= render partial: "/layouts/footer_content" %>
  </div>
</body>
</html>
